@import "../scss/bootstrap";

.card-wrapper {
    position: relative;
    width: 100%;
    perspective: 100px;
}

.card-wrapper:before {
    content:"";
    display: block;
    padding-top: 150%;
}

.my-card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: 0.8s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 8%;
  position: absolute;/* 絶対配置を指定 */
  top: 0;
  left: 0;
  backface-visibility: hidden;/* 回転中裏面を見せない */
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}

.card-back {
  background: #17a2b8;
  color: #fff;
}

.card-front {
  background: #fff;
  color: #fff;
  transform: rotateY(180deg);
}

.card-text {
  width: 100%;
  text-align: center;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
}

.suit-heart {
  background-image:url(../svg/heart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}

.suit-club {
  background-image:url(../svg/club.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}

.suit-diam {
  background-image:url(../svg/diam.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}

.suit-spade {
  background-image:url(../svg/spade.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}